// 颜色配置

$white: rgba(255, 255, 255, 0.9);
$break: rgba(0, 0, 0, 0.9);

// 文字颜色
$primaryFontColor: rgba(47, 48, 50, 1); // 重要
$regularFontColor: rgba(96, 98, 102, 1); // 常规
$secondaryFontColor: rgba(143, 145, 153, 1); // 次要

$red: red;
